/* this is for home page*/
a:link{
    color:blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}
a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color: darkslategrey;
    background-color: transparent;
    text-decoration: underline;
}
.heading{
    color: rosybrown;
    font-family: 'Times New Roman';
    font-size: 300%;
    padding: 30px;
    margin: 10px;
    text-align: center;
}
.imageHome{
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 15px;
}
.imageLogin{
    float: right;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-right: 15px;
}
body{
    background-color: white;
    background-image: url(../image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* search properties */
.search{
    text-align: center;
}
.searchBar{
    width: 65%;
    margin-top: 10%;
    font-size: x-large;
    padding: 5px;
    border: 3px solid black;
}
.searchButton{
    margin-top: 10%;
    width: 150px;
    height: 50px;
    font-size: x-large;
}
button{
    padding: 30px;
    text-decoration: none;
    font-size: x-large;
}
.advancedSearch {
    background-color: lightskyblue;
}
.size {
    width: auto;
    max-width: 800px;
    margin: auto;
}

/*this is for login page*/
.label{
    margin-left: -250px;
    font-size: large;
    font-weight: bolder;
}
.fieldset {
    width: 50%;
    margin: auto;
    text-align: center;
    display: block;
}
.inputSizing {
    margin-top: 20px;
    font-size: 25px;
    height: 45px;
}
.loginButton {
    width: 260px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.loginButton:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

/*this for result page*/
table{
    width: 100%;
    font-size: x-large;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}